@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.raleway-light {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-medium {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway-extrabold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.raleway-black {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.blur {
    background: rgba(255, 255, 255, 0.3);
}

body {
    font-family: "Poppins", sans-serif;
    color: #191D21;
}

img,
picture,
source,
video,
svg {
  pointer-events: none !important;
  -webkit-user-drag: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

html {
    /* font-size: 62.5%; */
    font-size: 10px;
    /* overflow-y: hidden; */
}

@media only screen and (max-width: 1300px) {
    html {
        font-size: 8.96px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 8.36px;
    }
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 8.04px;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 7.68px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 7.36px;
    }
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 7.04px;
    }
}

@media only screen and (max-width: 680px) and (min-height: 800px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 7.5px;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 7.1px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 6.56px;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 520px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (min-width: 1650px) {
    html {
        font-size: 11.68px;
    }
}

@media only screen and (min-width: 2400px) {
    html {
        font-size: 12.5px;
    }
}

@media only screen and (min-width: 3800px) {
    html {
        font-size: 20px;
    }
}

.hiddenScroll::-webkit-scrollbar {
    display: none !important;
}

.hiddenScroll {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.adaptive {
    display: flex;
    flex-direction: column !important;
}

@media only screen and (min-width: 850px) {
    .adaptive {
        display: flex;
        flex-direction: row !important;
    }
}
